.wrapProductList {
    /* border: 1px solid #ddd; */
    padding: 10px;
    background-color: snow;
    color: #424242;
}

.photoProduct {
    width: 100%;
}

.button {
    margin-left: 8px;
    background-color: snow;
    color: #424242;
    border-radius: 50%;
    /* padding: 8px; */
    font-size: 20px;
}

.buttonAdd {
    background-color: #424242;
    color: snow;
    border-radius: 16px;
    padding: 8px;
    font-size: 16px;
}

.description {
    min-height: 32px;
    margin: 0;
}

.price {
    color: #161616;
}

.title {
    font-size: 16px;
    font-weight: bold;
    margin: 6px;
}

.buttons {
    margin: 0;
}