.app {
  min-width: 400px;
  margin: 0 auto;
  padding: 5px 16px;
}

button {
  background-color: #1976d2;
  color: #fafafa;
  border-radius: 10px;
  border: 1px solid #979797;
}

button:hover {
  background-color: #1f7fdf;
  cursor: pointer;
}