.dialog {
    position: relative;
    z-index: 50;
}

.dialogBox {
    position: fixed;
    inset: 0;
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.modalBox {
    max-width: 32rem;
    background-color: #fafafa;
    padding: 3rem;
    border: 1px solid #979797;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.bold-text {
    font-weight: bold;
}

.flex {
    display: flex;
    gap: 4px;
}

.btnDelete {
    background: inherit;
    border: none;
}