.wrapper {
    display: flex;
    gap: 4px;
    flex-direction: row;
    justify-content: space-between;
}

.wrapper button {
    padding: 0;
    background-color: inherit;
    border: none;
    height: 30px;
    width: 100px;
}