.header {
    position: static;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: #1976d2;
    padding: 15px;
    min-height: 60px;
    text-align: center;
    margin-bottom: 20px;
    border: 1px solid #979797;
    border-radius: 10px;
}